<% include partials/header %>
<div class = "ui main text container segment"> 
 	
	<h1 class="ui huge header">
        <%=morePost.title%>
    </h1>
	<p>	<%=morePost.date.toDateString()%></p>
	<a href = "/blogs"> <button class="ui olive  button">Go back</button></a>
	<!-- <a href = "/blogs/delete"> <button class="ui  red button">Delete</button></a> -->
	<form action = "/blogs/<%=morePost._id%>?_method=DELETE" method = "POST">
		<button id = "keepinline" class = "ui red button ">Delete</button>
	</form>
	
	<form action = "/blogs/<%=morePost._id%>/edit" method = "GET">
		<button class = "ui orange button ">Edit</button>
	</form>
	
	
    <div class="ui segment">
        <div class="ui centered image">
            <img src="<%=morePost.image%>">
        </div>
        <p>
            <%=morePost.body%>
        </p>

    </div>
	

	
	
</div>
    
    <% include partials/footer %>